/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Website style */

html, body {
    height:100%;
    font-family: sans-serif;
}

h1 {
    font-size: 1em;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;
}

.main-panel-left {
    background-color: #379df1;
    display: grid;
    grid-template-rows: 10% 40% 20%;
    row-gap: 30px;
    padding-left: 20px;
}

.left-inner-panel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.left-inner-panel-main {
    font-size: 1.5em;
    margin-left: -5px;
}


.left-inner-panel-main img {
    width: 50px;
    margin-right: 5px;
}

.left-inner-panel-submenu {
    font-size: 1em;
    margin-left: 5px;
}

.left-inner-panel-submenu img {
    width: 25px;
    margin-right: 15px;
}

.left-inner-panel-middle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.main-panel-right {
    display: grid;
    grid-template-rows: 20% 80%;
}

.right-inner-panel-top {
    display: grid;
    grid-template-rows: 30% 70%;
}

.right-inner-panel-bottom {
    display: grid;
    grid-template-columns: 70% 30%;
    background: #9e9e9e14;
}

.right-inner-panel-row {
    display: grid;
    grid-template-columns: 70% 30%;
}

.right-inner-panel-row img {
    width: 30px;
}

.right-inner-panel-row input {
    opacity: 0.5;
    border: none;
    width: 85%;
    border-radius: 25px;
    background: #e8e8e8;
    height: 50%;
    margin-left: 3%;
}

.profile-area, .search-bar-area {
    display: flex;
    align-items: center;
    padding: 10px 0 0 12px;
}

.profile-area img {
    margin-right: 10px;
}

.column-inner-left {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 30% 30% 30%;
}

.column-inner-left h1 {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.column-inner-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.notifications-box {
    display: grid;
    grid-template-rows: 20% 80%;
    height: 100%;
}

.notifications-box h1 {
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.project-detail {
    padding: 10px;
}

.project-detail-inside-box {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: lightgoldenrodyellow;
    box-shadow: -10px 0px 10px 1px #aaaaaa;
}

.project-detail-inside-box h5, .project-detail-inside-box p {
    padding: 0 10px 0 10px;
}

.project-detail-inside-box p {
    font-size: 0.8em;
    margin-top: 10px;
}

.project-detail-inside-box h5 {
    font-size: 1em;
    padding-top: 20px;
}

